*{
  padding: 0;
  margin: 0;
  font-family: ExocetOTCECY-Medium;
}
header{
  background-color: black;
  color: red;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1{
  border: 1px solid red;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 30px;
  
}
.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
}
.banner .welcome{
  background-color: rgba(100, 0, 0, 0.1);
  color: white;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 20%;
}
body{
  background-color: rgb(40, 39, 39);
}
.banner h2{
  font-size: 50px;
}
.banner h2 span{
  font-size: 1.5em;
}
nav{
  background-color: rgb(229, 223, 223);
  padding: 20px;
  position: sticky;
  top: 64px;
}
nav ul{
  white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
}
nav li{
  width: 25%;
  display: inline-block;
  font-size: 20px;
}
nav li a{
  text-decoration: none;
  color: #4b4b4b;
}
nav li a.join{
  color: red;
}
main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2{
  color: rgb(229, 223, 223);
  font-size: 48px;
}
article p{
  line-height: 2em;
  font-size: 1.3em;
  color: #9a9696;
}
.images{
  text-align: center;
  margin: 80px 0px;

}
.images li{
  display: inline-block;
  width: 40%;
  margin-top: 30px;
}
.images li img{
  max-width: 100%;
}
section.join{
  background: #f4f4f4;
  color: #6e6c6c;
  text-align: center;
  padding: 60px 20px;
  line-height: 2em;
}
.join h2{
  font-size: 36px;
  margin-bottom: 15px;
}
form input{
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
  text-align: center;
}
footer{
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: #ddd;
}
