*{
  padding: 0;
  margin: 0;
  font-family: ExocetOTCECY-Medium;
}
header{
  background-color: black;
  color: red;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1{
  border: 1px solid red;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 30px;
  
}
.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
}
.banner .welcome{
  background-color: rgba(100, 0, 0, 0.1);
  color: white;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 20%;
}
.banner h2{
  font-size: 50px;
}
.banner h2 span{
  font-size: 1.5em;
}
nav{
  background-color: rgb(229, 223, 223);
  padding: 20px;
  position: sticky;
  top: 64px;
}
nav ul{
  white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
}
nav li{
  width: 25%;
  display: inline-block;
  font-size: 20px;
}
nav li a{
  text-decoration: none;
  color: #4b4b4b;
}
nav li a.join{
  color: red;
}
main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2{
  color: #4b4b4b;
  font-size: 48px;
}
article p{
  line-height: 2em;
  color: #4b4b4b;
}
.images{
  text-align: center;
  margin: 80px 0px;
}
.images li{
  display: inline-block;
  width: 40%;
}
.images li img{
  max-width: 100%;
}