*{
font-family: ExocetOTCECY-Medium;
}
header{
  background-color: black;
  color: red;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
}
.banner .welcome{
  background-color: rgba(100, 0, 0, 0.1);
  color: white;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 20%;
}
.banner h2{
  font-size: 50px;
}
.banner h2 span{
  font-size: 1.5em;
}

