/* 1. Using selectors to target html */
/* p.error{
  color: red;
}
p.success{
  color: green;
}
p.success.feedback{
  border: 1px dashed rgb(2, 49, 2);
}
#content{
  background: #ebebeb;
  padding: 20px;
} */

/* 2. Using Descendants to target elements */

/* div p{
  color: purple;
} */

/* 3. difference between div .error and div.error */

  /*this means this is a descendant selector and look for a pair of div then gets any element with class of error*/

/* div .error{
  color: red;
} */

/*this means div with class of error*/
/* div.error{ 
  color: red;
} */

/* 4. Targeting Attributes */

/* * means it includes */
/* a[href*="thenetninja"]{
  background-color: #3dd13d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

 /*$ means at the end*/
/* a[href$=".com"]{ 
  background: red;
  color: white;
  border: 2px solid blue;
  text-decoration: none;
  font-weight: bold;
} */

/* 5. Inheritance */
/* div{
  color: lightcoral;
  border:1px solid grey;
  margin: 40px;
  font-weight: bold;
}
p{
  color: crimson;
  border: inherit;
  margin: inherit;
}
p{
  color: orange;
} */

/* 6. Specificity */

div{
  color: lightcoral;
  border:1px solid grey;
  margin: 40px;
  font-weight: bold;
}
/* specificity */
div p{
  color: crimson;
  border: inherit;
  margin: inherit;
}
p{
  color: orange;
}
