/*// BASE STYLES //*/

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  position: absolute;
  top: 25px;
  left: 0;
  animation-name: drive;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.luigi {
  position: absolute;
  left: 0;
  top: -80px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}
.cloud:nth-child(1) {
  width: 300px;
  height: 100px;
  bottom: 20px;
  opacity: 0.6;
  animation: wind 70s linear infinite reverse;
}

.cloud:nth-child(2) {
  top: 20px;
  animation: wind 30s linear infinite reverse;
}
.cloud:nth-child(3) {
  width: 200px;
  height: 90px;
  bottom: 10px;
  opacity: 0.5;
  animation: wind 90s linear infinite reverse;
}
.cloud:nth-child(4) {
  width: 100px;
  height: 90px;
  bottom: 20px;
  animation: wind 40s linear infinite reverse;
}
.cloud:nth-child(5) {
  width: 200px;
  height: 150px;
  bottom: 20px;
  opacity: 0.7;
  animation: wind 60s linear infinite reverse;
}
.tree {
  position: absolute;
  width: 99px;
}
.tree:nth-child(1) {
  top: 20px;
  left: 200px;
  width: 50px;
  animation: trees 66s linear infinite reverse;
}
.tree:nth-child(2) {
  top: 80px;
  right: 200px;
  animation: trees 10s linear infinite reverse;
}
.tree:nth-child(3) {
  top: -20px;
  left: 20px;
  width: 30px;
  opacity: 0.5;
  animation: trees 80s linear infinite reverse;
}
.tree:nth-child(4) {
  top: -13px;
  left: 78px;
  width: 41px;
  opacity: 0.7;
  animation: trees 70s linear infinite reverse;
}
.tree:nth-child(5) {
  top: 84px;
  left: 20px;
  width: 132px;
  animation: trees 8s linear infinite reverse;
}
.tree:nth-child(6) {
  top: -16px;
  left: 174px;
  width: 27px;
  opacity: 0.6;
  animation: trees 78s linear infinite reverse;
}
.tree:nth-child(7) {
  top: 39px;
  left: 20px;
  width: 60px;
  animation: trees 50s linear infinite reverse;
}

/*
.ufo {
  position: absolute;
}
.ufo:nth-child(1) {
  width: 800px;
  height: 80px;
  top: 10px;
  left: 0;
  animation: fly 50s linear infinite reverse;
}

.ufo:nth-child(2) {
  width: 800px;
  height: 80px;
  bottom: 10px;
  left: 0;
  animation: fly 90s linear infinite reverse;
}
*/

/*// KEYFRAMES //*/
@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(2000px);
  }
}
@keyframes wind {
  from {
    left: -500px;
  }
  to {
    left: 100%;
  }
}
@keyframes trees {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}
/*
@keyframes fly {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
  */

