body {
  background-color: skyblue;
  text-align: center;
  height: 3000px;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.start-button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: deeppink;
  font-family: cursive;
  color: white;
  font-size: 14px;
  transition: 1s;
  cursor: pointer;
}
.start-button:hover {
  background-color: dodgerblue;
  transform: rotateZ(360deg);
  border-radius: 20px;


}
/*
.plane {
  width: 80px;
  transition: 3s ease-in-out;
  cursor: pointer;
}
.plane:hover {
  transform: scale(10);
  border-radius: 20px;
}
*/
